# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
/test-results/
storageState.json
/Backend/node_modules/.cache/

# Production
/build
/dist
/.svelte-kit/

# Misc
.DS_Store
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
.history/* 